body {
    background-image: linear-gradient(120deg, #6e6e6e 0%, #1b1b1b 100%);
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.container {
    height: 85vh;
    margin-left: 5%;
    margin-right: 5%;
    background-image: linear-gradient(120deg, #1b1b1b 0%,#6e6e6e 100%);
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
}
.header-nav {
    display: flex;
    padding-left: 10%;
    padding-right: 20%;
    align-items: center;
    justify-items: center;
    height: 80px;
    width: auto;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 41, 41);
    color: white;
}

.header-nav nav h1 {
    font-size:5rem;
    color: rgb(150, 150, 150);
}

.header-nav nav ul {
    display:block;
    list-style: none;
    
}
.header-nav nav ul li {
    display: inline-flex;
    margin-left: 10px;
    padding: 5px;
    list-style: none;
    align-items: center;
    justify-items: flex-end;
}

a {
    text-decoration: none;
    color: tomato;
}
a:hover {
    color: tomato;

}
a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}
h1 {
    margin:10px;
    padding:5px;
    color:azure;
}
h2 {
    text-align: center;
    margin: 15px;
    padding: 5px;
    color: azure;
}
h3 {
    text-align: center;
    margin: 15px;
    padding: 5px;
    color: azure;
}
h4 {
    text-align:right;
    margin: 15px;
    padding: 5px;
    color: azure;
}
.wrapper {
    background-color:dimgray;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    border-radius:4px;
    padding:20px;
    height:500px;
    width:500px;
   
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*line-height: 20px;*/
}
.card {
    padding-top:10px;
    text-align: center;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    /*    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;*/
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
    color: black;
}
footer p {
    display: flex;
    justify-content: center;
    background-color: #414141;
    height: 45px;
    color: white;
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
}

