
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div class="wrapper">
    <section class="card">
        <h5>Name: Åsa Jonsson</h5>
        <h5>Phone: 012-345 6789 </h5>
    </section>

</div>

